*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
}
#nav{
    height: 10%;
    padding: 2% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
#logo{
    color: rgb(13, 13, 163);
}
#nav a{
    text-decoration: none;
    color: #333;
    padding: 10px;
   font-weight: 500;
   font-size: 20px;
}
#nav a:hover{
    text-decoration: underline;
    color: rgb(0, 4, 219);
    transition: all 0.2s ease-out;
}
#page1{
    width: 100vw;
    height: 100vh;
}
#page2{
    height: 100%;
    width: 100%;
    padding: 3% 5%;
    position: relative;
}
.map-container{
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
  /* background-color: red; */
}
#main>h1{
    text-align: center;
    color: rgb(20, 20, 141);
}
#main>p{
    width: 50%;
    text-align: center;
    font: .5rem;
    margin: 1rem 25vw;
}
a{
	text-decoration: none;
	color: #000;
}
li {
    list-style: none;
}
html{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
}
.clearfix{
	clear: both;
}
.containar {
  /*display: flex;*/
  background: #caedfd;
}
.slider {

    background: #ffffff;
    position: relative;

}
.slider-img {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}
#ul-parent {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    /*transform-origin: 40% 0;*/

}
#ul-parent li{
	position: absolute;
	width: 100%;
    background-color: #fff;
	animation-name: slider;
	animation-duration: 20s;
	animation-iteration-count: infinite; 
}
#ul-parent li img {
    width: 30vw;
}
#ul-parent li:nth-child(1){
	transform: translateX(0);
	animation-delay: -20s;
}
#ul-parent li:nth-child(2){
	transform: translateX(550px) translateZ(-300px) rotateY(30deg);
	animation-delay: -15S;
}
#ul-parent li:nth-child(3){
	transform:translateZ(-500px);
	animation-delay: -10S;
}
#ul-parent li:nth-child(4){
	transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
	animation-delay: -5S;
}
@keyframes slider{
	0%,20%{
		transform: translateX(0);
	}
	25%,45%{
		transform: translateX(550px) translateZ(-300px) rotateY(30deg);
	}
	50%,70%{
		transform: translateZ(-500px)
	}
	75%,95%{
		transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
	}
	97%{
		transform: translateX(-550px) translateZ(-300px) rotateY(-30deg) translateX(-400);	
	}
	100%{
		transform: translateX(0);

	}
}
#page-3{
    width: 100vw;
    height: 100vh;
    padding: 0 4rem;
}
.container{
    width: 90vw;
    height: 80vh;
    display: flex;
    gap: 6rem;
    padding: 90px 50px 50px 50px ;
    border-radius: 5px; 
}
.img-section{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
}
.img-section img{
    width: 90%;
}
.container-content{
    width: 40%;
    height: 100%;
    /* background-color: #fff; */
}
.container-content h1{
    color: rgb(20, 20, 141) ;
    font-size: 2.7rem;
    text-align: end;
}
.container-content p{
    margin-top: 2rem;
    text-align: end;
    font-size: 1.2rem;
}
.img-section-2 img{
    margin-left: 2rem;
    width: 80%;
    position: relative;
    top: -7%;
    left: 17%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    width: 100vw;
    height: 60vh;
	background-color: #010036;
    padding: 70px 0;
    /* margin-top: 3rem; */
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}